{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.slug) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.type) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.healthPoints) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.attackPoints) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.defensePoints) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.capacity) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.buildTime) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="unit-resource-wrapper">
                {% do form.unitResources.setRendered %}
                <div>
                    {{ form_label(form.unitResources) }}
                    <a id="new-unit-resource"
                        class="btn btn-xs btn-success"
                        href="#">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                {{ form_errors(form.unitResources) }}
                <ul id="unitResources-fields-list"
                    data-prototype="{{ form_widget(form.unitResources.vars.prototype) | e }}">
                    {% for unitResource in form.unitResources %}
                        <li>
                            {{ form_errors(unitResource) }}
                            {{ form_widget(unitResource) }}
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-danger remove-unit-resource-button"
                                        href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{{ form_end(form) }}
