{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ town }} | {{ 'Towns' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ town }}
        {% if town.getUser() == app.user %}
            <a class="btn btn-default"
                href="{{ url('game.towns.edit', { id: town.getId() }) }}">
                {{ 'Edit' | trans }}
            </a>
        {% endif %}
    </h1>
    <div id="main-content">
        {% if town.getTownBuildings() | length == 0 %}
            <div class="alert alert-info">
                {{ 'You do not have any buildings yet. Please go to the map, click on a buildable tile, click "Build here" inside the popover, select this town and construct the Capitol building.' }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <h3>{{ 'Information' | trans }}</h3>
                <ul class="list-group">
                    {% if town.getDescription() %}
                        <li class="list-group-item">
                            <b>{{ 'Description' | trans }}:</b>
                            {{ town.getDescription() }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>{{ 'Country' | trans }}:</b>
                        <a href="{{ url('game.countries.detail', { id: town.getCountry().getId() }) }}">
                            {{ town.getCountry() }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'User' | trans }}:</b>
                        <a href="{{ url('game.users.detail', { id: town.getUser().getId() }) }}">
                            {{ town.getUser() }}
                        </a>
                    </li>
                    {% if app.user.hasTown(town) %}
                        <li class="list-group-item">
                            <b>{{ 'Population' | trans }}:</b>
                            {{ town.getPopulation() }}
                            {{ 'out of' | trans }}
                            {{ town.getPopulationCapacity() }}
                            {{ 'used' | trans }}
                        </li>
                    {% endif %}
                </ul>
                {% if app.user.hasTown(town) %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ 'Resources' | trans }}
                        </div>
                        {% include 'contents/game/_parts/town-resources-table.html.twig' %}
                    </div>
                {% endif %}
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6">
                <h3>
                    {{ 'Buildings' | trans }}
                    <span class="badge">
                        {{ town.getTownBuildings() | length }}
                    </span>
                </h3>
                {% if town.getTownBuildings() %}
                    {% include 'contents/game/_parts/town-buildings-list.html.twig' with { townBuildings: town.getTownBuildings() } %}
                {% else %}
                    <div class="alert alert-info">
                        {{ 'This town has no buildings yet' | trans }}
                    </div>
                {% endif %}
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div>
{% endblock %}
