<section class="building-resources-cost-section">
    <h4>{{ 'Cost' | trans }}</h4>
    {% if building.getResourcesCost(level) and building.getResourcesCost(level) is not empty %}
        <ul class="list-group">
            {% for resource, resourceAmount in building.getResourcesCost(level) %}
                {% set resourceObject = app['game.resources'].getAllWithData(resource) %}
                <li class="list-group-item">
                    <span class="badge">
                        {{ resourceAmount }}
                    </span>
                    <img src="{{ app.baseUrl }}/assets/images/resources/{{ resourceObject.getSlug() }}.png"
                        style="max-width: 16px;" />
                    {{ resourceObject.getName() | trans }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info">
            {{ 'This building does not cost anything at this level.' | trans }}
        </div>
    {% endif %}
</section> <!-- /.building-resources-cost-section -->
