<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object"
                    src="{{ app.user.getProfile().getImageUrl() ? user.getProfile().getImageUrl() : app.baseUrl ~ '/assets/images/avatars/002.png' }}"
                    alt="Avatar"
                    style="max-width: 80px;" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <b>{{ app.user.getUsername() }}</b>
                </h4>
            </div>
        </div>
        <h4>
            {{ 'Health' | trans }}:
            <b>{{ app.user.getHealthPointsPercentage() }}%</b>
            <small>({{ app.user.getHealthPointsLeft() }} {{ 'out of' | trans }} {{ app.user.getHealthPoints() }} {{ 'HP left' | trans }})</small>
        </h4>
        <div class="progress">
            <div class="progress-bar progress-bar-{{ app.user.getHealthPointsColorType() }}"
                role="progressbar"
                aria-valuenow="{{ app.user.getHealthPointsPercentage() }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ app.user.getHealthPointsPercentage() }}%;">
                <span class="sr-only">{{ app.user.getHealthPointsPercentage() }}%</span>
            </div>
        </div>
        <h4>{{ 'Experience' | trans }}</h4>
        <h5>
            {{ 'Level' | trans }}:
            <b>{{ app.user.getExperienceLevel() }}</b>
        </h5>
        <h5>
            {{ 'Points' | trans }}:
            <b>{{ app.user.getExperiencePoints() }}</b>
        </h5>
        <h5>
            {{ 'Next level' | trans }}:
            <b>{{ app.user.getNextExperienceLevelMinimumPoints() }}</b>
        </h5>
        <h3>{{ 'Skills' | trans }}</h3>
        <ul class="list-unstyled">
            {% for skillKey, skill in app.gameData.skills %}
                <li>
                    <h4>
                        {{ skill }}:
                        <b>{{ app.user.getUserSkillPointsByKey(skillKey) }}</b>
                    </h4>
                </li>
            {% endfor %}
        </ul>
        {% set userCountries = app.user.getUserCountries() %}
        <h3>{{ 'Countries' | trans }}</h3>
        {% if userCountries %}
            <ul class="list-unstyled">
                {% for userCountry in userCountries %}
                    <li>
                        <h4>
                            <a href="#">
                                {{ userCountry.getCountry() }}
                                <small>{{ userCountry.getRoles() | join(', ') }}</small>
                            </a>
                        </h4>
                        {% set towns = userCountry.getCountry().getTowns() %}
                        {% if towns %}
                            <ul>
                                {% for town in towns %}
                                    <li>
                                        <a href="#">{{ town.getName() }}</a>
                                        {% if town.getDescription() %}
                                            - <small class="text-muted">{{ town.getDescription() }}</small>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                {{ 'You do not have a country yet!' | trans }}
            </div>
        {% endif %}
    </div>
</div>
