<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object"
                    src="{{ app.user.getAvatarImageUrl(app.baseUrl) }}"
                    alt="Avatar"
                    style="max-width: 80px;" />
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <b>{{ app.user }}</b>
                </h3>
                <div>
                    <a class="btn btn-sm btn-default"
                        data-toggle="tooltip"
                        title="{{ 'Profile' | trans }}"
                        href="{{ url('members-area.my.profile') }}">
                        <i class="fa fa-user"></i>
                    </a>
                    <a class="btn btn-sm btn-default"
                        data-toggle="tooltip"
                        title="{{ 'Settings' | trans }}"
                        href="{{ url('members-area.my.profile.settings') }}">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a class="btn btn-sm btn-default"
                        data-toggle="tooltip"
                        title="{{ 'Change password' | trans }}"
                        href="{{ url('members-area.my.profile.settings.password') }}">
                        <i class="fa fa-lock"></i>
                    </a>
                </div>
            </div>
        </div>
        <h4>
            {{ 'Health' | trans }}:
            <b>{{ app.user.getHealthPointsPercentage() }}%</b>
            <small>({{ app.user.getHealthPointsLeft() }} {{ 'out of' | trans }} {{ app.user.getHealthPoints() }} {{ 'HP left' | trans }})</small>
        </h4>
        <div class="progress">
            <div class="progress-bar progress-bar-{{ app.user.getHealthPointsColorType() }}"
                role="progressbar"
                aria-valuenow="{{ app.user.getHealthPointsPercentage() }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ app.user.getHealthPointsPercentage() }}%;">
                <span class="sr-only">{{ app.user.getHealthPointsPercentage() }}%</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h4>
                    {{ 'Experience' | trans }}
                    <span class="badge"
                        data-toggle="tooltip"
                        title="{{ 'Level' | trans }}">
                        {{ app.user.getExperienceLevel() }}
                    </span>
                </h4>
                <h5>
                    {{ 'Points' | trans }}:
                    <b>{{ app.user.getExperiencePoints() }}</b>
                </h5>
                <h5>
                    {{ 'Next level' | trans }}:
                    <b>{{ app.user.getNextExperienceLevelMinimumPoints() }}</b>
                </h5>
            </div>
            <div class="col-lg-6">
                <h4>{{ 'Skills' | trans }}</h4>
                <ul class="list-unstyled">
                    {% for skillKey, skill in app.gameData.skills %}
                        <li>
                            <h5>
                                {{ skill }}:
                                <b>{{ app.user.getUserSkillPointsByKey(skillKey) }}</b>
                            </h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- /.row -->
    </div>
</div>
