<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img class="media-object"
                    src="{{ app.user.getAvatarImageUrl(app.baseUrl) }}"
                    style="max-width: 80px;" />
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <b>{{ app.user }}</b>
                    <span class="badge"
                        data-toggle="tooltip"
                        title="{{ 'Level' | trans }}">
                        {{ app.user.getExperienceLevel() }}
                    </span>
                </h3>
                <div>
                    <a class="btn btn-sm btn-default {{ path('game.my.profile') in app.currentUri ? 'active' : '' }}"
                        data-toggle="tooltip"
                        title="{{ 'Profile' | trans }}"
                        href="{{ url('game.my.profile') }}">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                    <a class="btn btn-sm btn-default {{ path('game.my.settings') in app.currentUri ? 'active' : '' }}"
                        data-toggle="tooltip"
                        title="{{ 'Settings' | trans }}"
                        href="{{ url('game.my.settings') }}">
                        <i class="fa fa-fw fa-cog"></i>
                    </a>
                    <a class="btn btn-sm btn-default {{ path('game.my.password') in app.currentUri ? 'active' : '' }}"
                        data-toggle="tooltip"
                        title="{{ 'Password' | trans }}"
                        href="{{ url('game.my.password') }}">
                        <i class="fa fa-fw fa-lock"></i>
                    </a>
                    <a class="btn btn-sm btn-default {{ path('game.my.messages') in app.currentUri ? 'active' : '' }}"
                        data-toggle="tooltip"
                        title="{{ 'Messages' | trans }}"
                        href="{{ url('game.my.messages') }}">
                        <i class="fa fa-fw fa-envelope"></i>
                    </a>
                    <a class="btn btn-sm btn-default {{ path('game.my.notifications') in app.currentUri ? 'active' : '' }}"
                        data-toggle="tooltip"
                        title="{{ 'Notifications' | trans }}"
                        href="{{ url('game.my.notifications') }}">
                        <i class="fa fa-fw fa-bell"></i>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-default"
                            data-toggle="tooltip"
                            title="{{ 'Members Area' | trans }}"
                            href="{{ url('members-area') }}">
                            <i class="fa fa-fw fa-star"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <h4>
            {{ 'Health' | trans }}:
            <b>{{ app.user.getHealthPointsPercentage() }}%</b>
            <small>({{ app.user.getHealthPointsLeft() }} {{ 'out of' | trans }} {{ app.user.getHealthPoints() }} {{ 'HP left' | trans }})</small>
        </h4>
        <div class="progress"
            data-toggle="tooltip"
            title="{{ app.user.getHealthPointsPercentage() }}%">
            <div class="progress-bar progress-bar-{{ app.user.getHealthPointsColorType() }}"
                role="progressbar"
                aria-valuenow="{{ app.user.getHealthPointsPercentage() }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ app.user.getHealthPointsPercentage() }}%;">
                <span class="sr-only">{{ app.user.getHealthPointsPercentage() }}%</span>
            </div>
        </div>
        <h4>
            {{ 'Experience' | trans }}:
            <b>{{ app.user.getExperiencePoints() }}</b>
            <small>{{ 'out of' | trans }} {{ app.user.getNextExperienceLevelMinimumPoints() }} {{ 'points, to the next level' | trans }}</small>
        </h4>
        <div class="progress"
            data-toggle="tooltip"
            title="{{ app.user.getNextExperienceLevelPercentage() }}%">
            <div class="progress-bar"
                role="progressbar"
                aria-valuenow="{{ app.user.getNextExperienceLevelPercentage() }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ app.user.getNextExperienceLevelPercentage() }}%;">
                <span class="sr-only">{{ app.user.getNextExperienceLevelPercentage() }}%</span>
            </div>
        </div>
    </div>
</div>
