{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.slug) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{ 'Coordinates' | trans }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.coordinatesX) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.coordinatesY) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="district-resource-wrapper">
                {% do form.districtResources.setRendered %}
                <div>
                    {{ form_label(form.districtResources) }}
                    <a id="new-district-resource"
                        class="btn btn-xs btn-success"
                        href="#">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                {{ form_errors(form.districtResources) }}
                <ul id="districtResources-fields-list"
                    data-prototype="{{ form_widget(form.districtResources.vars.prototype) | e }}">
                    {% for districtResource in form.districtResources %}
                        <li>
                            {{ form_errors(districtResource) }}
                            {{ form_widget(districtResource) }}
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-danger remove-district-resource-button"
                                        href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{{ form_end(form) }}
