{% extends 'layouts/content/members-area.html.twig' %}

{% block title %}{{ 'Remove' | trans }} | {{ 'Resources' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {% if resources %}
            {{ 'Remove Resources' | trans }}
        {% else %}
            {{ 'Remove Resource' | trans }}
            <small>"{{ resource }}"</small>
        {% endif %}
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('members-area.resources') }}">
                {{ 'Resources' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'Remove' | trans }}
        </li>
    </ol>
    <div class="alert alert-block alert-warning">
        <h4 class="alert-heading">
            {{ 'Warning!' | trans }}
        </h4>
        {% if resources %}
            <p>{{ 'Are you sure you want to remove this resources?' | trans }}</p>
            <ul style="margin-bottom: 10px;">
                {% for resource in resources %}
                    <li>{{ resource }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'Are you sure you want to remove this resource?' | trans }}</p>
        {% endif %}
        <p>
            {% if resources %}
                <a class="btn btn-danger"
                    href="{{ url('members-area.resources.remove', { id: 0, action: 'confirm', ids: ids }) }}">
                    {{ 'Confirm' | trans }}
                </a>
            {% else %}
                <a class="btn btn-danger"
                    href="{{ url('members-area.resources.remove', { id: resource.getId(), action: 'confirm' }) }}">
                    {{ 'Confirm' | trans }}
                </a>
            {% endif %}
            <a class="btn btn-success"
                href="{{ url('members-area.resources') }}">
                {{ 'Cancel' | trans }}
            </a>
        </p>
    </div>
{% endblock %}
