{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ user }} | {{ 'Users' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ user }}
        <span class="badge"
            data-toggle="tooltip"
            title="{{ 'Level' | trans }}">
            {{ user.getExperienceLevel() }}
        </span>
    </h1>
    <div id="main-content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <img class="img-responsive"
                    src="{{ user.getAvatarImageUrl(app.baseUrl) }}" />
            </div> <!-- /.col-lg-3 -->
            <div class="col-lg-9 col-xs-6">
                <ul class="list-group">
                    {% if user.getProfile().getDescription() %}
                        <li class="list-group-item">
                            <b>{{ 'Description' | trans }}:</b>
                            {{ user.getProfile().getDescription() }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>{{ 'Experience points' | trans }}:</b>
                        {{ user.getExperiencePoints() }}
                    </li>
                    {% if user.getTimeLastActive() %}
                        <li class="list-group-item">
                            <b>{{ 'Last active' | trans }}:</b>
                            {{ user.getTimeCreated() | date(app.dateTimeFormat) }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>{{ 'Joined' | trans }}:</b>
                        {{ user.getTimeCreated() | date(app.dateTimeFormat) }}
                    </li>
                </ul>
            </div> <!-- /.col-lg-9 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <h2>
                    {{ 'Countries' | trans }}
                    <span class="badge">{{ user.getCountries() | length }}</span>
                </h2>
                {% if user.getCountries() %}
                    {% include 'contents/game/_parts/countries-list.html.twig' with { countries: user.getCountries() } %}
                {% else %}
                    <div class="alert alert-info">
                        {{ 'This user has no countries yet' | trans }}
                    </div>
                {% endif %}
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6">
                <h2>
                    {{ 'Towns' | trans }}
                    <span class="badge">{{ user.getTowns() | length }}</span>
                </h2>
                {% if user.getTowns() %}
                    {% include 'contents/game/_parts/towns-list.html.twig' with { towns: user.getTowns() } %}
                {% else %}
                    <div class="alert alert-info">
                        {{ 'This user has no towns yet' | trans }}
                    </div>
                {% endif %}
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'Badges' | trans }}
                    <span class="badge">{{ user.getUserBadges() | length }}</span>
                </h2>
                {% if user.getUserBadges() %}
                    <div class="row">
                        {% for userBadge in user.getUserBadges() %}
                            {% set userBadgeObject = userBadge.getBadgeObject() %}
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-responsive"
                                        src="{{ app.baseUrl }}/assets/images/badges/{{ userBadgeObject.getSlug() }}/original.png" />
                                    <h4>{{ userBadgeObject.getName() }}</h4>
                                    <p>{{ userBadgeObject.getDescription() }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        {{ 'This user has no badges yet' | trans }}
                    </div>
                {% endif %}
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
    </div>
{% endblock %}
