{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>
        {{ user }}
        <span class="badge"
            data-toggle="tooltip"
            title="{{ 'Level' | trans }}">
            {{ user.getExperienceLevel() }}
        </span>
    </h1>
    <div id="main-content">
        <div class="row">
            <div class="col-md-4">
                <h2>{{ 'Information' | trans }}</h2>
                <img class="img-responsive"
                    src="{{ user.getAvatar(app.baseUrl) }}"
                    alt="{{ 'Profile image' | trans }}"
                    style="max-width: 128px;" />
                <br />
                <ul class="list-group">
                    {% if user.getProfile().getDescription() %}
                        <li class="list-group-item">
                            <b>{{ 'Description' | trans }}:</b>
                            {{ user.getProfile().getDescription() }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>{{ 'Joined' | trans }}:</b>
                        {{ user.getTimeCreated() | date(app.dateTimeFormat) }}
                    </li>
                </ul>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>
                    {{ 'Countries' | trans }}
                    <span class="badge">{{ user.getCountries() | length }}</span>
                </h2>
                {% if user.getCountries() %}
                    {% include 'contents/game/_parts/countries-list.html.twig' with { countries: user.getCountries() } %}
                {% else %}
                    <div class="alert alert-info">
                        {{ 'This user has no countries yet' | trans }}
                    </div>
                {% endif %}
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>
                    {{ 'Towns' | trans }}
                    <span class="badge">{{ user.getTowns() | length }}</span>
                </h2>
                {% if user.getTowns() %}
                    {% include 'contents/game/_parts/towns-list.html.twig' with { towns: user.getTowns() } %}
                {% else %}
                    <div class="alert alert-info">
                        {{ 'This user has no towns yet' | trans }}
                    </div>
                {% endif %}
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
    </div>
{% endblock %}
