{% extends 'layouts/content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link id="toastr-css" rel="stylesheet" href="{{ app.baseUri }}/assets/vendor/toastr/toastr.min.css" />
    <link id="game-css" rel="stylesheet" href="{{ app.baseUri }}/assets/stylesheets/game.css?version={{ app.version }}" />
{% endblock %}

{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <a id="logo-link"
                    href="{{ url('game') }}">
                    <img class="img-responsive"
                        src="{{ app.baseUrl }}/assets/images/logo.png" />
                </a>
            </div>
            <div class="col-lg-9 col-sm-8">
                <div id="header-upper"
                    class="clearfix">
                    <div class="pull-right">
                        <span id="header-date">
                            <i class="fa fa-calendar"></i>
                            {{ app.currentDate | date(app.dateFormat) }}
                        </span>
                        <span id="header-time">
                            <i class="fa fa-clock-o"></i>
                            <span>{{ app.currentTime }}</span>
                        </span>
                        <a id="header-logout-link"
                            class="btn btn-link"
                            href="{{ app.logoutUrl }}">
                            {{ 'Logout' | trans }}
                        </a>
                    </div>
                </div>
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation"
                        class="{{ path('game') == app.currentUri ? 'active' : '' }}">
                        <a href="{{ url('game') }}">
                            <i class="fa fa-dashboard"></i>
                            {{ 'Dashboard' | trans }}
                        </a>
                    </li>
                    <li role="presentation"
                        class="{{ path('game.map') in app.currentUri ? 'active' : '' }}">
                        <a href="{{ url('game.map') }}">
                            <i class="fa fa-map"></i>
                            {{ 'Map' | trans }}
                        </a>
                    </li>
                    <li role="presentation"
                        class="{{ path('game.countries') in app.currentUri ? 'active' : '' }}">
                        <a href="{{ url('game.countries') }}">
                            <i class="fa fa-flag"></i>
                            {{ 'Countries' | trans }}
                        </a>
                    </li>
                    <li role="presentation"
                        class="{{ path('game.towns') in app.currentUri ? 'active' : '' }}">
                        <a href="{{ url('game.towns') }}">
                            <i class="fa fa-building"></i>
                            {{ 'Towns' | trans }}
                        </a>
                    </li>
                    <li role="presentation"
                        class="{{ path('game.users') in app.currentUri ? 'active' : '' }}">
                        <a href="{{ url('game.users') }}">
                            <i class="fa fa-users"></i>
                            {{ 'Users' | trans }}
                        </a>
                    </li>
                    <li role="presentation"
                        class="{{ path('game.statistics') in app.currentUri ? 'active' : '' }}">
                        <a href="{{ url('game.statistics') }}">
                            <i class="fa fa-bar-chart"></i>
                            {{ 'Statistics' | trans }}
                        </a>
                    </li>
                    <li role="presentation"
                        class="{{ path('game.premium') in app.currentUri ? 'active' : '' }}">
                        <a href="{{ url('game.premium') }}">
                            <i class="fa fa-star"></i>
                            {{ 'Premium' | trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container{{ isContainerFluid ? '-fluid' : '' }}">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div id="sidebar" role="complementary">
                    {% include 'layouts/content/game/_parts/sidebar.html.twig' %}
                </div> <!-- /#sidebar -->
            </div> <!-- /.col-lg-3 -->
            <div class="col-lg-9 col-sm-8">
                <div id="main" role="main">
                    {% block main %}{% endblock %}
                </div> <!-- /#main -->
            </div> <!-- /.col-lg-9 -->
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script id="jquery-ui-core-js" type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery-ui/ui/core.js"></script>
    <script id="jquery-ui-widget-js" type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery-ui/ui/widget.js"></script>
    <script id="jquery-ui-mouse-js" type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery-ui/ui/mouse.js"></script>
    <script id="jquery-ui-draggable-js" type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery-ui/ui/draggable.js"></script>
    <script id="jquery-ui-droppable-js" type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery-ui/ui/droppable.js"></script>
    <script id="jquery-nicescroll-js" type="text/javascript" src="{{ app.baseUri }}/assets/vendor/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
    <script id="toastr-js" type="text/javascript" src="{{ app.baseUri }}/assets/vendor/toastr/toastr.min.js"></script>
    <script id="game-js" type="text/javascript" src="{{ app.baseUri }}/assets/javascripts/game.js?version={{ app.version }}"></script>
    <script id="game-initialize-js">
        Game.initialize();
    </script>
{% endblock %}
