{% extends 'layouts/content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link id="game-css" rel="stylesheet" href="{{ app.baseUri }}/assets/stylesheets/game.css?version={{ app.version }}" />
{% endblock %}

{% block header %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <a id="logo-link"
                href="{{ url('game') }}">
                <img class="img-responsive"
                    src="{{ app.baseUrl }}/assets/images/logo.png"
                    alt="Logo" />
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container{{ isContainerFluid ? '-fluid' : '' }}">
        <div class="row">
            <div class="col-md-3">
                <div id="sidebar" role="complementary">
                    {% include 'layouts/content/game/_parts/sidebar.html.twig' %}
                </div> <!-- /#sidebar -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-9">
                <div id="main" role="main">
                    {% block main %}{% endblock %}
                </div> <!-- /#main -->
            </div> <!-- /.col-md-9 -->
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
{% endblock %}
