<div id="map-construct-building"
    class="transitions">
    <div id="map-construct-building-content">
        {% for building in buildings %}
            <div class="building"
                data-name="{{ building.getName() }}"
                data-key="{{ building.getKey() }}"
                data-slug="{{ building.getSlug() }}"
                data-description="{{ building.getDescription() }}"
                data-size="{{ building.getSize() }}">
                {% set preBuildChecks = app['game.buildings'].doPreBuildChecksResponse(
                    planet,
                    town,
                    false,
                    building.getKey()
                ) %}
                {% if preBuildChecks is not sameas (true) %}
                    <div class="building-overlay">
                        {{ preBuildChecks }}
                    </div>
                {% endif %}
                <img src="{{ app.baseUrl }}/assets/images/buildings/{{ building.getSlug() }}/thumbnail.png" />
                <h4>{{ building.getName() }}</h4>
                <p>{{ building.getDescription() }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="map-construct-building-handle">
        <i class="fa fa-building"></i>
    </div>
</div>
