<div id="map-inner"
    data-x="{{ centerX }}"
    data-y="{{ centerY }}">
    {% for y in coordinatesRangeY | reverse %}
        <div class="map-row clearfix"
            data-y="{{ y }}">
            {% for x in coordinatesRangeX %}
                {% set tile = tiles[x~','~y] is defined ? tiles[x~','~y] : null %}
                {% if tile %}
                    {% include 'contents/game/map/detail/_tile.html.twig' %}
                {% else %}
                    <div class="map-tile map-tile-unknown {{ x == centerX and y == centerY ? 'map-tile-current' : '' }} tooltip-hover"
                        data-tooltip="{{ x ~ ',' ~ y }}"
                        data-x="{{ x }}"
                        data-y="{{ y }}">
                        <div class="map-tile-hover-overlay"></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div> <!-- /.map-row -->
    {% endfor %}
</div> <!-- #map-inner -->
