<p>
    <b>{{ 'Terrain type' | trans }}:</b>
    {{ tile.getTerrainType() | humanize | trans }}
</p>
{% if tile.getTownBuilding() %}
    <p>
        <b>{{ 'Building' | trans }}:</b>
        {% if app.user.hasTownBuilding(tile.getTownBuilding()) %}
            <a href="{{ url('game.towns.buildings.detail', { id: tile.getTownBuilding().getTown().getId(), buildingId: tile.getTownBuilding().getId() }) }}">
                {{ tile.getTownBuilding().getBuilding() | humanize | trans }}
            </a>
        {% else %}
            {{ tile.getTownBuilding().getBuilding() | humanize | trans }}
        {% endif %}
    </p>
    <p>
        <b>{{ 'Town' | trans }}:</b>
        <a href="{{ url('game.towns.detail', { id: tile.getTownBuilding().getTown().getId() }) }}">
            {{ tile.getTownBuilding().getTown() }}
        </a>
    </p>
    <p>
        <b>{{ 'Country' | trans }}:</b>
        <a href="{{ url('game.countries.detail', { id: tile.getTownBuilding().getTown().getCountry().getId() }) }}">
            {{ tile.getTownBuilding().getTown().getCountry() }}
        </a>
    </p>
{% endif %}
<p>
    <a class="btn btn-xs btn-default btn-block btn-center-map"
        data-x="{{ tile.getCoordinatesX() }}"
        data-y="{{ tile.getCoordinatesY() }}"
        href="{{ url('game.map.detail', { id: planet.getId(), x: tile.getCoordinatesX(), y: tile.getCoordinatesY(), town_id: townId }) }}">
        {{ 'Center map' | trans }}
    </a>
</p>
{% if tile.getTownBuilding() and app.user.hasTownBuilding(tile.getTownBuilding()) %}
    <p>
        {% set preUpgradeChecks = app['game.buildings'].doPreUpgradeChecksResponse(
            tile.getTownBuilding()
        ) %}
        <span {% if preUpgradeChecks is not sameas (true) %}
            class="popover-tooltip"
            data-placement="left"
            title="{{ preUpgradeChecks }}"
            style="display: block;"
        {% endif %}>
            <a class="btn btn-xs btn-success btn-block"
                href="{{ url('game.towns.buildings.upgrade', { id: town.getId(), buildingId: tile.getTownBuilding().getId() }) }}"
                {% if preUpgradeChecks is not sameas (true) %}
                    disabled="disabled"
                    style="pointer-events: none;"
                {% endif %}>
                {{ 'Upgrade' | trans }}
            </a>
        </span>
    </p>
    <p>
        <a class="btn btn-xs btn-default btn-block"
            href="{{ url('game.towns.buildings.detail', { id: tile.getTownBuilding().getTown().getId(), buildingId: tile.getTownBuilding().getId() }) }}">
            {{ 'Go to the Building' | trans }}
        </a>
    </p>
{% endif %}
{% if tile.isOccupied() is not sameas(true) %}
    <p>
        <a class="btn btn-xs btn-success btn-block"
            href="{{ url('game.map.build', { id: planet.getId(), x: tile.getCoordinatesX(), y: tile.getCoordinatesY(), town_id: townId }) }}">
            {{ 'Build here' | trans }}
        </a>
    </p>
{% endif %}
