<p>
    <b>{{ 'Terrain type' | trans }}:</b>
    {{ tile.getTerrainType() | humanize | trans }}
</p>
{% if tile.getTownBuilding() %}
    <p>
        <b>{{ 'Building' | trans }}:</b>
        <a href="{{ url('game.towns.buildings.detail', { id: tile.getTownBuilding().getTown().getId(), buildingId: tile.getTownBuilding().getId() }) }}">
            {{ tile.getTownBuilding().getBuilding() | humanize | trans }}
        </a>
    </p>
    <p>
        <b>{{ 'Town' | trans }}:</b>
        <a href="{{ url('game.towns.detail', { id: tile.getTownBuilding().getTown().getId() }) }}">
            {{ tile.getTownBuilding().getTown() }}
        </a>
    </p>
    <p>
        <b>{{ 'Country' | trans }}:</b>
        <a href="{{ url('game.countries.detail', { id: tile.getTownBuilding().getTown().getCountry().getId() }) }}">
            {{ tile.getTownBuilding().getTown().getCountry() }}
        </a>
    </p>
{% endif %}
<p>
    <a class="btn btn-xs btn-default btn-block btn-center-map"
        href="{{ url('game.map.detail', { id: planet.getId(), x: tile.getCoordinatesX(), y: tile.getCoordinatesY() }) }}">
        {{ 'Center map' | trans }}
    </a>
</p>
{% if tile.getTownBuilding() and app.user.hasTownBuilding(tile.getTownBuilding()) %}
    <p>
        <a class="btn btn-xs btn-default btn-block"
            href="{{ url('game.towns.buildings.detail', { id: tile.getTownBuilding().getTown().getId(), buildingId: tile.getTownBuilding().getId() }) }}">
            {{ 'Go to the Building' | trans }}
        </a>
    </p>
{% endif %}
{% if tile.isCurrentlyBuildable() %}
    <p>
        <a class="btn btn-xs btn-default btn-block"
            href="{{ url('game.map.build', { id: planet.getId(), x: tile.getCoordinatesX(), y: tile.getCoordinatesY() }) }}">
            {{ 'Build here' | trans }}
        </a>
    </p>
{% endif %}
