<div id="map-tile-{{ tile.getId() }}"
    class="
        map-tile
        {{ tile.getTownBuilding() and tile.getTownBuilding().getTown() == currentTown ? 'map-tile-current-town' : '' }}
        {{ x == centerX and y == centerY ? 'map-tile-center' : '' }}
        tooltip-hover
        popover-click
    "
    data-id="{{ tile.getId() }}"
    data-x="{{ x }}"
    data-y="{{ y }}"
    data-buildable="{{ tile.isBuildable() ? 'true' : 'false' }}"
    data-currently-buildable="{{ tile.isCurrentlyBuildable() ? 'true' : 'false' }}"
    data-tooltip="{% filter escape %}{% spaceless %}{% include 'contents/game/map/detail/_tooltip-content.html.twig' %}{% endspaceless %}{% endfilter %}"
    data-popover-title="{{ tile.getCoordinates() }}"
    data-popover-content="{% filter escape %}{% spaceless %}{% include 'contents/game/map/detail/_popover-content.html.twig' %}{% endspaceless %}{% endfilter %}"
    style="background-image: url('{{ app.baseUrl }}/assets/images/tiles/{{ tile.getBackgroundImage() }}')">
    <div class="map-tile-overlay"></div>
    {% if tile.getTownBuilding() %}
        <img class="img-responsive map-tile-building-image"
            src="{{ app.baseUrl }}/assets/images/buildings/{{ tile.getTownBuildingImage() }}" />
    {% endif %}
</div> <!-- /.map-tile -->
