{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ planet }} | {{ 'Map' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Map' | trans }}</h1>
    <h2>
        {{ planet }}
        <small>({{ centerX ~ ',' ~ centerY }})</small>
    </h2>
    <div id="main-content">
        <div id="map-wrapper">
            <div id="map-overlay">
                {{ 'Loading' | trans }} ...
            </div> <!-- /#map-overlay -->
            {% if town %}
                {% include 'contents/game/map/detail/_construct-building.html.twig' %}
            {% endif %}
            <div id="map">
                {% if app.request.isXmlHttpRequest() %}
                    {% include 'contents/game/map/detail/_inner.html.twig' %}
                {% endif %}
            </div> <!-- /#map -->
            {% include 'contents/game/map/detail/_controls.html.twig' %}
        </div> <!-- /#map-wrapper -->
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            jQuery('#map-controls .btn').on('click', function() {
                var x = jQuery('#map-controls-x').val();
                var y = jQuery('#map-controls-y').val();

                currentUrl = updateUrlParameter(currentUrl, 'x', x);
                currentUrl = updateUrlParameter(currentUrl, 'y', y);

                loadMap();

                return false;
            });
            
            jQuery('#map-construct-building-handle').on('click', function() {
                jQuery('#map-construct-building').toggleClass('open');
            });

            loadMap();

            function loadMap(callback) {
                jQuery('#map-overlay').fadeIn();

                currentUrl = currentUrl.replace(/&amp;/g, '&');

                jQuery('#map').load(currentUrl + ' #map-inner', function() {
                    Application.initialize();
                    Game.initialize();

                    jQuery('.map-tile').on('shown.bs.popover', function() {
                        jQuery('.btn-center-map').on('click', function() {
                            currentUrl = jQuery(this).attr('href');
                            var x = jQuery(this).attr('data-x');
                            var y = jQuery(this).attr('data-y');

                            loadMap();

                            return false;
                        });
                    });

                    jQuery('#map-overlay').fadeOut();

                    var x = jQuery('#map-inner').attr('data-center-x');
                    var y = jQuery('#map-inner').attr('data-center-y');
                    jQuery('h2 small').text('('+x+','+y+')');

                    if (typeof callback === 'function') {
                        callback();
                    }
                });
            }

            function updateUrlParameter(url, param, value){
                var regex = new RegExp('('+param+'=)[^\&]+');
                return url.replace( regex , '$1' + value);
            }
        });
    </script>
{% endblock %}
