{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ planet }} | {{ 'Map' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Map' | trans }}</h1>
    <h2>
        {{ planet }}
        <small>({{ centerX ~ ',' ~ centerY }})</small>
    </h2>
    <div id="main-content">
        <div id="map-wrapper">
            <div id="map-overlay">
                {{ 'Loading' | trans }} ...
            </div> <!-- /#map-overlay -->
            {% if town %}
                {% include 'contents/game/map/detail/_construct-building.html.twig' %}
            {% endif %}
            <div id="map">
                {% if app.request.isXmlHttpRequest() %}
                    {% include 'contents/game/map/detail/_inner.html.twig' %}
                {% endif %}
            </div> <!-- /#map -->
            {% include 'contents/game/map/detail/_controls.html.twig' %}
        </div> <!-- /#map-wrapper -->
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script id="game-map-js" type="text/javascript" src="{{ app.baseUri }}/assets/javascripts/game-map.js?version={{ app.version }}"></script>
    <script id="game-map-initialize-js">
        GameMap.initialize();
    </script>
{% endblock %}
