{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ planet }} | {{ 'Map' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Map' | trans }}</h1>
    <h2>
        {{ planet }}
        <small>({{ centerX ~ ',' ~ centerY }})</small>
    </h2>
    <div id="main-content">
        <div id="map-wrapper">
            <div id="map-overlay">
                {{ 'Loading' | trans }} ...
            </div>
            <div id="map">
                {% if app.request.isXmlHttpRequest() %}
                    {% include 'contents/game/map/detail/_inner.html.twig' %}
                {% endif %}
            </div> <!-- /#map -->
            <hr />
            {% include 'contents/game/map/detail/_controls.html.twig' %}
        </div> <!-- /#map-wrapper -->
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            loadMap();

            function loadMap() {
                jQuery('#map-overlay').fadeIn();

                currentUrl = currentUrl.replace(/&amp;/g, '&');

                jQuery('#map').load(currentUrl + ' #map-inner', function() {
                    Application.initialize();
                    Game.initialize();

                    jQuery('.map-tile').on('shown.bs.popover', function() {
                        jQuery('.btn-center-map').on('click', function() {
                            currentUrl = jQuery(this).attr('href');
                            loadMap();

                            return false;
                        });
                    });

                    jQuery('#map-overlay').fadeOut();
                });
            }
        });
    </script>
{% endblock %}
