<div class="panel panel-default text-left">
    <div class="panel-body">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    <b>{{ town.getName() }}</b>
                </h4>
                {{ 'Country' | trans }}:
                <b>{{ town.getCountry() }}</b>
                <br />
                {{ 'Buildings' | trans }}:
                <b>{{ town.getTownBuildings() | length }}</b>
            </div>
        </div>
    </div>
</div>
