{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ 'Messages' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ 'Messages' | trans }}
        <a class="btn btn-primary btn-sm"
            href="{{ url('game.my.messages.new') }}">
            {{ 'New' | trans }}
        </a>
    </h1>
    <ul class="nav nav-tabs nav-justified"
        role="tablist"
        style="margin-bottom: 20px;">
        <li role="presentation"
            class="{{ folder == 'inbox' ? 'active' : '' }}">
            <a href="{{ url('game.my.messages', { folder: 'inbox' }) }}">
                {{ 'Inbox' | trans }}
            </a>
        </li>
        <li role="presentation"
            class="{{ folder == 'sent' ? 'active' : '' }}">
            <a href="{{ url('game.my.messages', { folder: 'sent' }) }}">
                {{ 'Sent' | trans }}
            </a>
        </li>
    </ul>
    {% if pagination.getItems() %}
        <table class="table">
            <thead>
                <tr>
                    <th width="100"></th>
                    <th>{{ paginator_sortable(pagination, 'Subject', 'um.subject') }}</th>
                    {% if folder == 'sent' %}
                        <th>{{ paginator_sortable(pagination, 'To', 'u.username') }}</th>
                    {% else %}
                        <th>{{ paginator_sortable(pagination, 'From', 'uf.username') }}</th>
                    {% endif %}
                    <th width="150">{{ paginator_sortable(pagination, 'Time created', 'um.timeCreated') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for userMessage in pagination.getItems() %}
                    <tr>
                        <td>
                            <a class="btn btn-xs btn-default"
                                href="{{ url('game.my.messages.detail', { id: userMessage.getId() }) }}">
                                <i class="fa fa-fw fa-info"></i>
                            </a>
                            {% if folder != 'sent' %}
                                <a class="btn btn-xs btn-default"
                                    href="{{ url('game.my.messages.reply', { id: userMessage.getId() }) }}">
                                    <i class="fa fa-fw fa-reply"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ userMessage.getSubject() }}</td>
                        {% if folder == 'sent' %}
                            <td>{{ userMessage.getUser() }}</td>
                        {% else %}
                            <td>{{ userMessage.getUserFrom() }}</td>
                        {% endif %}
                        <td>{{ userMessage.getTimeCreated() | date(app.dateTimeFormat) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ paginator_bottom_render(pagination) }}
    {% else %}
        <div class="alert alert-info">
            {{ 'You do not have any messages yet!' | trans }}
        </div>
    {% endif %}
{% endblock %}
