{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ 'Notifications' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Notifications' | trans }}</h1>
    {% if app.user.getUserNotifications() %}
        To-Do
    {% else %}
        <div class="alert alert-info">
            {{ 'You do not have any notifications yet!' | trans }}
        </div>
    {% endif %}
{% endblock %}
