{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ 'Settings' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Change password' | trans }}</h1>
    {{ form(form) }}
{% endblock %}
