{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.slug) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.type) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.size) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.healthPoints) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.populationCapacity) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.storageCapacity) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.buildTime) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="building-resource-wrapper">
                {% do form.buildingResources.setRendered %}
                <div>
                    {{ form_label(form.buildingResources) }}
                    <a id="new-building-resource"
                        class="btn btn-xs btn-success"
                        href="#">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                {{ form_errors(form.buildingResources) }}
                <ul id="buildingResources-fields-list"
                    data-prototype="{{ form_widget(form.buildingResources.vars.prototype) | e }}">
                    {% for buildingResource in form.buildingResources %}
                        <li>
                            {{ form_errors(buildingResource) }}
                            {{ form_widget(buildingResource) }}
                            <div class="clearfix">
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-danger remove-building-resource-button"
                                        href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{{ form_end(form) }}
