{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ townBuilding.getBuilding() | humanize | trans }} | {{ town }} | {{ 'Towns' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ town.getName() }}
        <a class="btn btn-default"
            href="{{ url('game.towns.detail', { id: town.getId() }) }}">
            {{ 'Back to the Town' | trans }}
        </a>
        <a class="btn btn-default"
            href="{{ url('game.map.detail', { id: town.getPlanet().getId(), x: townBuilding.getCoordinatesX(), y: townBuilding.getCoordinatesY() }) }}">
            {{ 'View on map' | trans }}
        </a>
    </h1>
    <div id="main-content">
        <div class="row">
            <div class="col-md-8">
                {% include 'contents/game/_parts/building-media.html.twig' with { level: townBuilding.getLevel(), building: townBuilding.getBuildingObject() } %}
                {% include 'contents/game/_parts/town-building-progresses.html.twig' %}
            </div> <!-- /.col-md-8 -->
            <div class="col-md-4">
                {% include 'contents/game/_parts/town-sidebar.html.twig' %}
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
        {% if townBuilding.isAtMaximumLevel() == false %}
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <h3>{{ 'Upgrade' | trans }}</h3>
                    <div class="building-wrapper">
                        {% set preUpgradeChecks = app['game.buildings'].doPreUpgradeChecksResponse(
                            townBuilding
                        ) %}
                        {% if preUpgradeChecks is not sameas (true) %}
                            <div class="building-overlay">
                                {{ preUpgradeChecks }}
                            </div>
                        {% endif %}
                        {% include 'contents/game/_parts/building-media.html.twig' with { level: townBuilding.getLevel() + 1, building: townBuilding.getBuildingObject() } %}
                        <a class="btn btn-success btn-block btn-lg"
                            href="{{ url('game.towns.buildings.upgrade', { id: town.getId(), buildingId: townBuilding.getId() }) }}">
                            {{ 'Upgrade' | trans }}
                        </a>
                    </div> <!-- /.building-wrapper -->
                </div> <!-- /.col-md-12 -->
            </div>
        {% else %}
            <div class="alert alert-info">
                {{ 'This building has reached the maximum level!' | trans }}
            </div>
        {% endif %}
        {% if townBuilding.isRemovable() is sameas(true) %}
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <a class="btn btn-danger btn-block btn-lg confirm-alert"
                        data-confirm-text="{{ 'Are you really sure you want to do this? This action is ireversible!' | trans }}"
                        href="{{ url('game.towns.buildings.remove', { id: town.getId(), buildingId: townBuilding.getId() }) }}">
                        {{ 'Remove' | trans }}
                    </a>
                </div>
            </div> <!-- /.row -->
        {% endif %}
    </div>
{% endblock %}
