{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>
        {{ town.getName() }}
        <small>{{ town.getCountry() }}</small>
        <a class="btn btn-default"
            href="{{ url('game.towns.detail', { id: town.getId() }) }}">
            {{ 'Back to the Town' | trans }}
        </a>
    </h1>
    <div id="main-content">
        <div class="row">
            <div class="col-md-8">
                {% include 'contents/game/_parts/building-media.html.twig' with { level: townBuilding.getLevel(), building: townBuilding.getBuildingObject() } %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>{{ 'Town' | trans }}:</b>
                        <a href="{{ url('game.towns.detail', { id: town.getId() }) }}">
                            {{ town }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'Country' | trans }}:</b>
                        <a href="{{ url('game.countries.detail', { id: town.getCountry().getId() }) }}">
                            {{ town.getCountry() }}
                        </a>
                    </li>
                    {% if townBuilding.isUpgrading() %}
                        <li class="list-group-item">
                            <b>{{ 'Upgrade started' | trans }}:</b>
                            {{ townBuilding.getTimeNextLevelUpgradeStarted() | date(app.dateTimeFormat) }}
                        </li>
                        <li class="list-group-item">
                            <b>{{ 'Upgrade ends' | trans }}:</b>
                            {{ townBuilding.getTimeNextLevelUpgradeEnds() | date(app.dateTimeFormat) }}
                        </li>
                    {% endif %}
                    {% if townBuilding.isConstructing() %}
                        <li class="list-group-item">
                            <b>{{ 'Construction started' | trans }}:</b>
                            {{ townBuilding.getTimeCreated() | date(app.dateTimeFormat) }}
                        </li>
                        <li class="list-group-item">
                            <b>{{ 'Construction finishes' | trans }}:</b>
                            {{ townBuilding.getTimeConstructed() | date(app.dateTimeFormat) }}
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <b>{{ 'Created' | trans }}:</b>
                        {{ townBuilding.getTimeCreated() | date(app.dateTimeFormat) }}
                    </li>
                </ul>
                {% if townBuilding.isUpgrading() %}
                    <h4>{{ 'Upgrading progress' | trans }}</h4>
                    <div class="progress live-progress"
                        data-percentage="{{ townBuilding.getUpgradingProgressPercentage() }}"
                        data-percentage-per-second="{{ townBuilding.getUpgradingProgressPercentagePerSecond() }}">
                        <div class="progress-bar"
                            aria-valuenow="{{ townBuilding.getUpgradingProgressPercentage() }}" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            style="width: {{ townBuilding.getUpgradingProgressPercentage() }}%; min-width: 2em;">
                            {{ townBuilding.getUpgradingProgressPercentage() | round }}%
                        </div>
                    </div>
                {% endif %}
                {% if townBuilding.isConstructing() %}
                    <h4>{{ 'Constructing progress' | trans }}</h4>
                    <div class="progress live-progress"
                        data-percentage="{{ townBuilding.getConstructingProgressPercentage() }}"
                        data-percentage-per-second="{{ townBuilding.getConstructingProgressPercentagePerSecond() }}">
                        <div class="progress-bar" 
                            role="progressbar" 
                            aria-valuenow="{{ townBuilding.getConstructingProgressPercentage() }}" 
                            aria-valuemin="0" 
                            aria-valuemax="100" 
                            style="width: {{ townBuilding.getConstructingProgressPercentage() }}%; min-width: 2em;">
                            {{ townBuilding.getConstructingProgressPercentage() | round }}%
                        </div>
                    </div>
                {% endif %}
                <a class="btn btn-default btn-block btn-lg"
                    href="{{ url('game.map.detail', { id: town.getPlanet().getId(), x: townBuilding.getCoordinatesX(), y: townBuilding.getCoordinatesY() }) }}">
                    {{ 'View on map' | trans }}
                </a>
            </div> <!-- /.col-md-8 -->
            <div class="col-md-4">
                {% include 'contents/game/_parts/town-sidebar.html.twig' %}
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
        {% if townBuilding.isUpgradable() %}
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <h3>{{ 'Upgrade' | trans }}</h3>
                    <div class="building-wrapper">
                        {% set preUpgradeChecks = app['game.buildings'].doPreUpgradeChecksResponse(
                            townBuilding
                        ) %}
                        {% if preUpgradeChecks is not same as (true) %}
                            <div class="building-overlay">
                                {{ preUpgradeChecks }}
                            </div>
                        {% endif %}
                        {% include 'contents/game/_parts/building-media.html.twig' with { level: townBuilding.getLevel() + 1, building: townBuilding.getBuildingObject() } %}
                        <a class="btn btn-success btn-block btn-lg"
                            href="{{ url('game.towns.buildings.upgrade', { id: town.getId(), buildingId: townBuilding.getId() }) }}">
                            {{ 'Upgrade' | trans }}
                        </a>
                    </div> <!-- /.building-wrapper -->
                </div> <!-- /.col-md-12 -->
            </div>
        {% endif %}
        {% if townBuilding.isRemovable() is sameas(true) %}
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <a class="btn btn-danger btn-block btn-lg confirm-alert"
                        data-confirm-text="{{ 'Are you really sure you want to do this? This action is ireversible!' | trans }}"
                        href="{{ url('game.towns.buildings.remove', { id: town.getId(), buildingId: townBuilding.getId() }) }}">
                        {{ 'Remove' | trans }}
                    </a>
                </div>
            </div> <!-- /.row -->
        {% endif %}
    </div>
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    {% if townBuilding.getSecondsUntilUpgradingDone() is not sameas(false) or townBuilding.getSecondsUntilConstructingDone() is not sameas(false)  %}
        <script>
            var timeoutSeconds = {{ townBuilding.getSecondsUntilUpgradingDone() is not sameas(false) ? townBuilding.getSecondsUntilUpgradingDone() : townBuilding.getSecondsUntilConstructingDone() }};
            setTimeout(function() {
                window.location.reload();
            }, timeoutSeconds * 1000);
        </script>
    {% endif %}
{% endblock %}
