{% extends 'layouts/content/game.html.twig' %}

{% set isContainerFluid = true %}

{% block main %}
    <h1>
        {{ town.getName() }}
        <small>{{ town.getCountry() }}</small>
        <a class="btn btn-default"
            href="{{ url('game.towns.detail', { id: town.getId() }) }}">
            {{ 'Back to the Town' | trans }}
        </a>
    </h1>
    <h2>
        {{ townBuilding.getBuilding() | humanize | trans }}
        <span class="badge">{{ townBuilding.getLevel() }}</span>
        <a class="btn btn-default btn-xs"
            href="{{ url('game.map.detail', { id: town.getPlanet().getId(), x: townBuilding.getCoordinatesX(), y: townBuilding.getCoordinatesY() }) }}">
            {{ 'View on map' | trans }}
        </a>
        {% if townBuilding.isUpgradable() %}
            <a class="btn btn-default btn-xs"
                href="{{ url('game.towns.buildings.upgrade', { id: town.getId(), buildingId: townBuilding.getId() }) }}">
                {{ 'Upgrade' | trans }}
            </a>
        {% endif %}
    </h2>
    <div id="main-content">
        <div class="row">
            <div class="col-md-6">
                <h3>{{ 'Information' | trans }}</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>{{ 'Description' | trans }}:</b>
                        {{ townBuilding.getBuildingObject().getDescription() }}
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'Town' | trans }}:</b>
                        <a href="{{ url('game.towns.detail', { id: town.getId() }) }}">
                            {{ town }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'Country' | trans }}:</b>
                        <a href="{{ url('game.countries.detail', { id: town.getCountry().getId() }) }}">
                            {{ town.getCountry() }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <b>{{ 'Created' | trans }}:</b>
                        {{ townBuilding.getTimeCreated() | date(app.dateTimeFormat) }}
                    </li>
                </ul>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6">
                {# To-Do #}
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
    </div>
{% endblock %}
