{% extends 'layouts/content/members-area.html.twig' %}

{% block title %}{{ 'New' | trans }} | {{ 'Towns' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'New Town' | trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('members-area.towns') }}">
                {{ 'Towns' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'New' | trans }}
        </li>
    </ol>
    {% include 'contents/members-area/towns/_form.html.twig' %}
{% endblock %}
