{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ userMessage }} | {{ 'Messages' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ 'Messages' | trans }}
        <a class="btn btn-default btn-sm"
            href="{{ url('game.my.messages') }}">
            {{ 'Back to Messages' | trans }}
        </a>
    </h1>
    <h2>
        {{ userMessage }}
        {% if userMessage.getUser() == app.user %}
            <small>{{ 'from' | trans }} {{ userMessage.getUserFrom() }}</small>
        {% elseif userMessage.getUserFrom() == app.user %}
            <small>{{ 'to' | trans }} {{ userMessage.getUser() }}</small>
        {% endif %}
    </h2>
    <p>{{ userMessage.getContent() }}</p>
{% endblock %}
