{% extends 'layouts/content/game.html.twig' %}

{% block title %}{{ 'New' | trans }} | {{ 'Messages' | trans }} | {{ 'My' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ 'Messages' | trans }}
        <a class="btn btn-default btn-sm"
            href="{{ url('game.my.messages') }}">
            {{ 'Back to Messages' | trans }}
        </a>
    </h1>
    <h2>
        <small>{{ 'Reply to' | trans }}</small>
        {{ originalUserMessage }}
        <small>{{ 'by' | trans }} <b>{{ originalUserMessage.getUserFrom() }}</b></small>
    </h2>
    <p>{{ originalUserMessage.getContent() }}</p>
    <hr />
    <h3>{{ 'Your response' | trans }}</h3>
    {{ form_start(form) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.content) }}
        {% if form.user is defined %}
            {{ form_row(form.user) }}
        {% endif %}
        {{ form_row(form.submitButton) }}
    {{ form_end(form) }}
{% endblock %}
