{% extends 'layouts/content/members-area.html.twig' %}

{% block title %}{{ 'Statistics' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Statistics' | trans }}</h1>
    <ol class="breadcrumb">
        <li>
            <a href="{{ url('members-area') }}">
                {{ 'Home' | trans }}
            </a>
        </li>
        <li class="active">
            {{ 'Statistics' | trans }}
        </li>
    </ol>
    <div id="main-content">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Users' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\UserEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Planets' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\PlanetEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Countries' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\CountryEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3 col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Towns' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\TownEntity').countAll() }}
                            </span>
                        </li>
                        <li class="list-group-item">
                            {{ 'Units' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\TownUnitEntity').countAll() }}
                            </span>
                        </li>
                        <li class="list-group-item">
                            {{ 'Resources' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\TownResourceEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ 'Tiles' | trans }}
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ 'Total' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\TileEntity').countAll() }}
                            </span>
                        </li>
                        <li class="list-group-item">
                            {{ 'Resources' | trans }}
                            <span class="badge">
                                {{ app['orm.em'].getRepository('Application\\Entity\\TileResourceEntity').countAll() }}
                            </span>
                        </li>
                    </ul>
                </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
    </div>
{% endblock %}
