{% set level = level is defined ? level : 0 %}
<div class="building media"
    data-name="{{ building.getName() }}"
    data-key="{{ building.getKey() }}"
    data-slug="{{ building.getSlug() }}"
    data-description="{{ building.getDescription() }}"
    data-type="{{ building.getType() }}">
    <div class="media-left">
        <img class="media-object"
            src="{{ app.baseUrl }}/assets/images/buildings/{{ building.getSlug() }}/thumbnail.png" />
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {{ building.getName() }}
            <span class="badge"
                data-toggle="tooltip"
                title="{{ 'Level' | trans }}">
                {{ level }}
            </span>
        </h4>
        <p>{{ building.getDescription() }}</p>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <p>
                    <b>{{ 'Type' | trans }}:</b>
                    {{ building.getType() | humanize | trans }}
                </p>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <p>
                    <b data-toggle="tooltip"
                        data-placement="right"
                        title="{{ 'How much tiles does it take on the map to build this building?' | trans }}">
                        {{ 'Size' | trans }}:
                    </b>
                    {{ building.getSize() }}
                </p>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <p>
                    <b data-toggle="tooltip"
                        data-placement="right"
                        title="{{ 'To which level can the building be upgraded (starting from 0)?' | trans }}">
                        {{ 'Maximum level' | trans }}:
                    </b>
                    {{ building.getMaximumLevel() }}
                </p>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <p>
                    <b>{{ 'Health points' | trans }}:</b>
                    {{ building.getHealthPoints(level) }}
                </p>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <p>
                    <b data-toggle="tooltip"
                        data-placement="right"
                        title="{{ 'How much will the capacity for units will be increased after this building is build?' | trans }}">
                        {{ 'Population capacity' | trans }}:
                    </b>
                    {{ building.getPopulationCapacity(level) }}
                </p>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <p>
                    <b data-toggle="tooltip"
                        data-placement="right"
                        title="{{ 'How long does it take for this building to be constructed?' | trans }}">
                        {{ 'Build time' | trans }}:
                    </b>
                    {{ building.getBuildTime(level) }}
                    {{ 'seconds' | trans }}
                </p>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <p>
                    <b data-toggle="tooltip"
                        data-placement="right"
                        title="{{ 'How much of this buildings can you make per town?' | trans }}">
                        {{ 'Per town limit' | trans }}:
                    </b>
                    {{ (building.getPerTownLimit() == -1 ? '&infin;' : building.getPerTownLimit()) | raw }}
                </p>
            </div> <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <p>
                    <b data-toggle="tooltip"
                        data-placement="right"
                        title="{{ 'How much of this buildings can you make per country?' | trans }}">
                        {{ 'Per country limit' | trans }}:
                    </b>
                    {{ (building.getPerCountryLimit() == -1 ? '&infin;' : building.getPerCountryLimit()) | raw }}
                </p>
            </div> <!-- /.col-md-4 -->
        </div> <!-- /.row -->
        <div class="row">
            {% set i = 0 %}
            <div class="col-md-6">
                {% include 'contents/game/_parts/building-media/resources-cost-section.html.twig' %}
                {% set i = i + 1 %}
            </div> <!-- /.col-md-6 -->
            {% if building.getResourcesProduction(level) %}
                <div class="col-md-6">
                    {% include 'contents/game/_parts/building-media/resources-production-section.html.twig' %}
                    {% set i = i + 1 %}
                </div> <!-- /.col-md-6 -->
            {% endif %}
            {% if i is divisible by(2) %}</div><div class="row">{% endif %}
            {% if building.getUnitsProduction(level) %}
                <div class="col-md-6">
                    {% include 'contents/game/_parts/building-media/units-production-section.html.twig' %}
                    {% set i = i + 1 %}
                </div> <!-- /.col-md-6 -->
            {% endif %}
            {% if i is divisible by(2) %}</div><div class="row">{% endif %}
            {% if building.getItemsProduction(level) %}
                <div class="col-md-6">
                    {% include 'contents/game/_parts/building-media/items-production-section.html.twig' %}
                    {% set i = i + 1 %}
                </div> <!-- /.col-md-6 -->
            {% endif %}
            {% if i is divisible by(2) %}</div><div class="row">{% endif %}
            {% if building.getResourcesCapacity(level) %}
                <div class="col-md-6">
                    {% include 'contents/game/_parts/building-media/resources-capacity-section.html.twig' %}
                    {% set i = i + 1 %}
                </div> <!-- /.col-md-6 -->
            {% endif %}
        </div> <!-- /.row -->
    </div>
</div> <!-- /.media -->
