<div id="town-sidebar"
    data-town-id="{{ town.getId() }}">
    <h3>
        {{ town }}
        <a class="btn btn-default btn-xs"
            href="{{ url('game.towns.detail', { id: town.getId() }) }}">
            {{ 'Go to the Town' | trans }}
        </a>
    </h3>
    {% if town.getDescription() %}
        <p>{{ town.getDescription() }}</p>
    {% endif %}
    <h5>
        <b>{{ 'Buildings' | trans }}:</b>
        {{ town.getTownBuildings() | length }} /
        {{ town.getBuildingsLimit() }}
    </h5>
    <h5>
        <b>{{ 'Population' | trans }}:</b>
        {{ town.getPopulation() }} /
        {{ town.getPopulationCapacity() }}
    </h5>
    <hr />
    <h4>{{ 'Resources' | trans }}</h4>
    {% include 'contents/game/_parts/town-resources-table.html.twig' %}
</div>
