<table id="town-resources-table"
    class="table"
    data-time-last-updated="{{ town.getTimeLastUpdatedResources() | date('Y-m-d H:i:s') }}">
    <thead>
        <tr>
            <th>Resource</th>
            <th>Available</th>
            <th>Capacity</th>
            <th>Production <small>per minute</small></th>
        </tr>
    </thead>
    <tbody>
        {% for resourceKey, resourceData in town.getResources() %}
            <tr data-resource="{{ resourceKey }}">
                <td data-type="resource">
                    {{ resourceKey | humanize | trans }}
                </td>
                <td data-type="available"
                    data-value="{{ resourceData.available }}">
                    {{ resourceData.available | round }}
                </td>
                <td data-type="capacity"
                    data-value="{{ resourceData.capacity }}">
                    {{ (resourceData.capacity == -1 ? '&infin;' : resourceData.capacity) | raw }}
                </td>
                <td data-type="production"
                    data-value="{{ resourceData.production }}">
                    {{ resourceData.production }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
