<ul class="list-group">
    {% for town in towns %}
        <a class="list-group-item clearfix"
            href="{{ url('game.towns.detail', { id: town.getId() }) }}">
            {% if town.getCoordinates() is not sameas(false) %}
                <div class="pull-right">
                    <button class="btn btn-default btn-xs link-button"
                        href="{{ url('game.map.detail', { id: town.getPlanet().getId(), x: town.getCoordinatesX(), y: town.getCoordinatesY() }) }}">
                        {{ 'Show on Map' | trans }}
                    </button>
                </div>
            {% endif %}
            <div class="pull-left"
                style="margin-right: 20px;">
                <img class="img-responsive"
                    src="{{ town.getCoatOfArmsImageUrl(app.baseUrl) }}"
                    style="max-width: 64px; max-height: 64px;" />
            </div>
            <div class="pull-left">
                <h4 class="list-group-item-heading">
                    {{ town.getName() }}
                </h4>
                <p>
                    {% if town.getDescription() %}
                        {{ town.getDescription() }}
                        <br />
                    {% endif %}
                    <b>{{ 'Planet' | trans }}:</b>
                    {{ town.getPlanet() }}
                    <br />
                    <b>{{ 'Country' | trans }}:</b>
                    {{ town.getCountry() }}
                    <br />
                    <b>{{ 'Buildings' | trans }}:</b>
                    {{ town.getTownBuildings() | length }}
                </p>
            </div>
        </a>
    {% endfor %}
</ul>
