{% set currentTown = town is defined ? town : null %}
<ul id="towns-list"
    class="list-group">
    {% for town in towns %}
        <a class="list-group-item clearfix {{ (townId is defined and townId == town.getId()) or currentTown == town ? 'active' : '' }}"
            href="{{ url('game.towns.detail', { id: town.getId() }) }}"
            data-id="{{ town.getId() }}"
            data-planet-id="{{ town.getPlanet().getId() }}">
            <div class="pull-right">
                <button class="btn btn-default btn-xs link-button"
                    href="{{ url('game.map.detail', { id: town.getPlanet().getId(), x: town.getCoordinatesX(), y: town.getCoordinatesY(), town_id: town.getId() }) }}">
                    {{ 'Show on Map' | trans }}
                </button>
            </div>
            <div class="pull-left"
                style="margin: 0 10px 10px 0;">
                <img class="img-responsive"
                    src="{{ town.getCoatOfArmsImageUrl(app.baseUrl) }}"
                    style="max-width: 64px; max-height: 64px;" />
            </div>
            <div class="pull-left">
                <h4 class="list-group-item-heading">
                    {{ town.getName() }}
                </h4>
                <p>
                    {% if town.getDescription() %}
                        {{ town.getDescription() }}
                        <br />
                    {% endif %}
                    <b>{{ 'Planet' | trans }}:</b>
                    {{ town.getPlanet() }}
                    <br />
                    <b>{{ 'Country' | trans }}:</b>
                    {{ town.getCountry() }}
                    <br />
                    <b>{{ 'Buildings' | trans }}:</b>
                    {{ town.getTownBuildings() | length }}
                </p>
            </div>
        </a>
    {% endfor %}
</ul>
