<ul class="list-group">
    {% for user in users %}
        <a class="list-group-item"
            href="{{ url('game.users.detail', { id: user.getId() }) }}">
            <h4 class="list-group-item-heading">
                {{ user.getUsername() }}
            </h4>
            <p>
                {% if user.getProfile().getDescription() %}
                    {{ user.getProfile().getDescription() }}
                    <br />
                {% endif %}
                <b>{{ 'Experience points' | trans }}:</b>
                {{ user.getExperiencePoints() | length }}
                <br />
                <b>{{ 'Countries' | trans }}:</b>
                {{ user.getUserCountries() | length }}
            </p>
        </a>
    {% endfor %}
</ul>
