<ul class="list-group">
    {% for user in users %}
        <a class="list-group-item clearfix"
            href="{{ url('game.users.detail', { id: user.getId() }) }}">
            <div class="pull-left"
                style="margin-right: 20px;">
                <img class="img-responsive"
                    src="{{ user.getAvatarImageUrl(app.baseUrl) }}"
                    style="max-width: 128px;" />
            </div>
            <h4 class="list-group-item-heading">
                {{ user }}
                <span class="badge"
                    data-toggle="tooltip"
                    title="{{ 'Level' | trans }}">
                    {{ user.getExperienceLevel() }}
                </span>
            </h4>
            <p>
                {% if user.getProfile().getDescription() %}
                    {{ user.getProfile().getDescription() }}
                    <br /> <br />
                {% endif %}
                <b>{{ 'Experience points' | trans }}:</b>
                {{ user.getExperiencePoints() }}
                <br />
                <b>{{ 'Countries' | trans }}:</b>
                {{ user.getCountries() | length }}
                <br />
                <b>{{ 'Towns' | trans }}:</b>
                {{ user.getTowns() | length }}
                <br />
                <b>{{ 'Town buildings' | trans }}:</b>
                {{ user.getTownBuildings() | length }}
            </p>
        </a>
    {% endfor %}
</ul>
