{% set tileResources = tile.getTileResources() %}
{% if tile.getTownBuilding() %}
    <h4>{{ 'Town' | trans }}:</h4>
    <p>
        <span>{{ tile.getTownBuilding().getTown() }}&nbsp;</span>
        <small>({{ tile.getTownBuilding().getTown().getCountry() }})</small>
    </p>
    <h4>{{ 'Building' | trans }}:</h4>
    <p>
        <span>{{ tile.getTownBuilding().getBuilding() | humanize | trans }}</span>
        <small>
            ({{ 'Level' | trans }}:
            {{ tile.getTownBuilding().getLevel() }})
        </small>
    </p>
{% endif %}
<h4>{{ 'Terrain type' | trans }}:</h4>
<p>{{ tile.getTerrainType() | humanize | trans }}</p>
<h4>{{ 'Resources' | trans }}:</h4>
<ul class="list-unstyled">
    {%- for tileResource in tileResources -%}
        <li>
            <span>- {{ tileResource.getResource() | humanize | trans }}&nbsp;</span>
            <small>{{ tileResource.getAmountPercentage() }}%</small>
        </li>
    {%- endfor -%}
</ul>
