<b>{{ 'Terrain type' | trans }}:</b>
{{ tile.getTerrainType() | humanize | trans }}
{% if tile.getTownBuilding() %}
    <br />
    <b>{{ 'Town' | trans }}:</b>
    <a href="{{ url('game.towns.detail', { id: tile.getTownBuilding().getTown().getId() }) }}">
        {{ tile.getTownBuilding().getTown() }}
    </a>
    <br />
    <b>{{ 'Country' | trans }}:</b>
    <a href="{{ url('game.countries.detail', { id: tile.getTownBuilding().getTown().getCountry().getId() }) }}">
        {{ tile.getTownBuilding().getTown().getCountry() }}
    </a>
    <br />
    <b>{{ 'Building' | trans }}:</b>
    {{ tile.getTownBuilding().getBuilding() | humanize | trans }}
{% endif %}
